<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ site.description }}">

		<title>{{ page.title }}</title>

		<link rel="icon" type="image/png" href="/assets/favicon.png">
		<link rel="manifest" href="/manifest.json">

		<link href='https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic' 
				rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/main.css">

		<!-- JS -->
		<script src="/js/logindata.js"></script>
		<script src="/js/lib.js"></script>
		<script type="text/javascript" src="/js/sha256.js"></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<nav>
			<a id="brand" href="/">
					<img src="/assets/logo_allwhite_128.png">
			</a>
			<span class="spacer"></span>	
			<span class="nav big">
				<a href="/about">About</a>
				<div class="dropdown">
					<a href="/about">GSEA</a>
					<a href="/about/organization.html">Organization</a>
					<a href="http://www.grinnell.edu">Grinnell College</a>
				</div>
			</span>
			<span class="nav big">
				<a href="/missions">Missions</a>
				<div class="dropdown">
					<a href="/missions/nearspaceballoon.html">Near-Space Balloon</a>
					<a href="/missions">All Missions</a>
				</div>
			</span>
			<span class="nav big" style="width: 156px">
				<a href="/administration" class="link">Administration</a>
			</span>
			<span class="nav big">
				<a href="/blog" class="link">Blog</a>
			</span>

			<span class="nav mobile">
				<a href="#">Menu</a>
				<div class="dropdown">
					<h3>About</h3>
					<div class="subdrop" id="s_about">
						<a href="/about">GSEA</a>
						<a href="/about/organization.html">Organization</a>
						<a href="http://www.grinnell.edu">Grinnell College</a>
					</div>
					<hr>

					<h3>Missions</h3>
					<div class="subdrop" id="s_missions">
						<a href="/missions/nearspaceballoon.html">Near-Space Balloon</a>
						<a href="/missions">All Missions</a>
					</div>
					<hr>

					<a href="/administration">Administration</a>
					<hr>
					<a href="/blog">Blog</a>
				</div>
			</span>
			<span class="fill"></span>
			<span class="nav">
				<a id="loginlink" href="/login?redirect={{ page.url }}" class="link">Login</a>
			</span>
		</nav>

		<noscript><h1 id="jswarning">Please enable JavaScript to view content.</h1></noscript>
		
		<div id="main">
