<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.description }}">

		<title>{{ site.name }}</title>

		<link rel="icon" type="image/png" href="/assets/favicon.png">

		<link href='https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic' 
				rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<nav>
			<a id="brand" href="{{ site.url }}">
					<img src="/assets/logo_allwhite_128.png">
			</a>
			<span class="spacer"></span>	
			<span class="nav">
				<a>About</a>
				<div class="dropdown">
					<a href="/about">GSEA</a>
					<a href="http://www.grinnell.edu">Grinnell College</a>
				</div>
			</span>
			<span class="nav">
				<a>Missions</a>
				<div class="dropdown">
					<a href="/missions/nearspaceballoon.html">Near-Space Balloon</a>
					<a href="/missions">All Missions</a>
				</div>
			</span>
		</nav>

		<div id="main">
